{% extends 'base.html' %}

{% load static %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}


<table class="responsive-table">
    <thead>
        <tr>
            <th>Name</th>
            <th class="hide-on-small">Start</th>
            <th class="hide-on-small">End</th>
            <th>Duration</th>
        </tr>
    </thead>
    <tbody>
        {% for data in dataset %}
        <tr>
            <td class="purchase-name">{{ data.purchase.edition }}</td>
            <td class="hide-on-small font-mono">{{ data.timestamp_start | date:"d/m/Y H:i" }}</td>
            <td class="hide-on-small font-mono">{{ data.timestamp_end | date:"d/m/Y H:i" }}</td>
            <td class="font-mono">{{ data.duration_formatted }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
