{
	auto_https off
}

:8000 {
	handle_path /static/* {
		root * /home/timetracker/app/static
		file_server
	}
	handle /robots.txt {
		root * /home/timetracker/app/games/static
		file_server
	}
	reverse_proxy localhost:8001
}
