<c-layouts.base>
{% load static %}
{% if form_content %}
    {{ form_content }}
{% else %}
<div class="max-width-container">
    <div class="form-container max-w-xl mx-auto">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_div }}
            <div><input type="submit" value="Submit" /></div>
            <div class="submit-button-container">
                {{ additional_row }}
            </div>
        </form>
    </div>
</div>
{% endif %}
<c-slot name="scripts">
{% if script_name %}
    <script type="module" src="{% static 'js/'|add:script_name %}"></script>
{% endif %}
</c-slot>
</c-layouts.base>
