{% load modal_tag %}
{% python_modal "refund-confirmation-modal" %}
    <h1 class="text-2xl leading-6 font-medium dark:text-white text-center">Confirm Refund</h1>
    <p class="dark:text-white text-center mt-5">
        Are you sure you want to mark this purchase as refunded?
    </p>
    <form class="" hx-post="{% url 'games:refund_purchase' purchase_id %}" hx-target="#purchase-row-{{ purchase_id }}" hx-swap="outerHTML">
        {% csrf_token %}
        <p class="dark:text-white text-center mt-3 text-sm">
            Games will be marked as abandoned.
        </p>
        <div class="items-center mt-5">
            <c-button color="blue" size="lg" type="submit" class="w-full">Refund</c-button>
            <c-button color="gray" size="base" class="mt-0 w-full" onclick="this.closest('#refund-confirmation-modal').remove()">Cancel</c-button>
        </div>
    </form>
{% endpython_modal %}
