<tr class="odd:bg-white dark:odd:bg-gray-900 even:bg-gray-50 dark:even:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 [&_a]:underline [&_a]:underline-offset-4 [&_a]:decoration-2 [&_td:last-child]:text-right"
    {% if data.row_id %}id="{{ data.row_id }}"{% endif %}
    {% if data.hx_trigger %}hx-trigger="{{ data.hx_trigger }}"{% endif %}
    {% if data.hx_get %}hx-get="{{ data.hx_get }}"{% endif %}
    {% if data.hx_select %}hx-select="{{ data.hx_select }}"{% endif %}
    {% if data.hx_swap %}hx-swap="{{ data.hx_swap }}"{% endif %}
>
    {% if slot %}
        {{ slot }}
    {% elif data.row_id %}
        {% for td in data.cell_data %}
            {% if forloop.first %}
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ td }}</th>
            {% else %}
                <c-table-td>
                {{ td }}
                </c-table-td>
            {% endif %}
        {% endfor %}
    {% else %}
        {% for td in data %}
            {% if forloop.first %}
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ td }}</th>
            {% else %}
                <c-table-td>
                {{ td }}
                </c-table-td>
            {% endif %}
        {% endfor %}
    {% endif %}
</tr>
