{% extends 'base.html' %}

{% block title %}Sessions{% endblock title %}

{% block content %}
{% if purchase %}
<div class="text-center text-xl mb-4 dark:text-slate-400">
    <h1>Listing sessions only for purchase "{{ purchase }}"</h1>
    <a class="dark:text-white hover:underline" href="{% url 'list_sessions' %}">View all sessions</a>
</div>
{% endif %}
<div class="grid grid-cols-5 gap-4 shadow rounded-xl max-w-screen-lg mx-auto dark:bg-slate-700 p-2 justify-center">
    <div class="dark:border-white dark:text-slate-300 text-lg">Name</div>
    <div class="dark:border-white dark:text-slate-300 text-lg">Start</div>
    <div class="dark:border-white dark:text-slate-300 text-lg">End</div>
    <div class="dark:border-white dark:text-slate-300 text-lg">Duration</div>
    <div></div>
    {% for data in dataset %}
    <div class=""><a class="dark:text-white hover:underline" href="{% url 'list_sessions' data.purchase.id %}">{{ data.purchase }}</a></div>
    <div class="dark:text-slate-400">{{ data.timestamp_start | date:"d/m/Y H:i" }}</div>
    <div class="dark:text-slate-400">
        {% if data.unfinished %}
        Not finished yet. <a href="{% url 'update_session' data.id %}"><button class="bg-red-700 hover:bg-orange-700 border border-red-900 hover:border-dotted hover:border-white rounded p-1 text-white text-sm">Finish now?</button></a>
        {% elif data.duration_manual %}
        MANUAL
        {% else %}
        {{ data.timestamp_end | date:"d/m/Y H:i" }}
        {% endif %}
    </div>
    <div class="dark:text-slate-400">{{ data.duration_formatted }}{% if data.duration_manual %} (M){% endif %}</div>
    <div>
        <a href="{% url 'delete_session' data.id %}"><button>❌</button></a>
    </div>
    {% endfor %}
</div>
{% endblock content %}