{% extends 'base.html' %}

{% block title %}Tracker Entry List{% endblock title %}

{% block content %}
<div class="grid grid-cols-4 gap-4 shadow rounded-xl max-w-screen-lg mx-auto dark:bg-slate-700 p-2 justify-center">
    <div class="dark:border-white dark:text-slate-300 text-lg">Name</div>
    <div class="dark:border-white dark:text-slate-300 text-lg">Start</div>
    <div class="dark:border-white dark:text-slate-300 text-lg">End</div>
    <div class="dark:border-white dark:text-slate-300 text-lg">Duration</div>
    {% for data in dataset %}
    <div class="dark:text-slate-400">{{ data.name }}</div>
    <div class="dark:text-slate-400">{{ data.timestamp_start }}</div>
    <div class="dark:text-slate-400">{{ data.timestamp_end }}</div>
    <div class="dark:text-slate-400">{{ data.time_delta }}</div>
    {% endfor %}
</div>
{% endblock content %}